In [1]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import numpy as np
from pandas import read_csv
from datetime import datetime
from sklearn import tree
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LogisticRegression

In [4]:
holidayEventData = pd.read_excel('Events_HolidaysData.xlsx')
macroEconomicData = pd.read_excel('MacroEconomicData.xlsx')
weatherData = pd.read_excel('WeatherData.xlsx')

In [5]:
def encoding(pc):
    pc = pc.strip().lower()
    if pc == "womenclothing":
        return 0
    if pc == "menclothing":
        return 1
    return 2

In [6]:
df = read_csv('Train_Walmart_final3.csv', converters={2:encoding})
df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),WeatherEvent,Monthly Nominal GDP Index (inMillion$),No.of Holidays
0,2009,1,0,1755,10,14421.753,2
1,2009,1,1,524,10,14421.753,2
2,2009,1,2,936,10,14421.753,2
3,2009,2,0,1729,6,14389.200,2
4,2009,2,1,496,6,14389.200,2

In [7]:
df_test = read_csv('Test_new3.csv', converters={2:encoding})
df_test.drop(['Sales(In ThousandDollars)'],axis=1,inplace=True)
df_test.head()

,Year,Month,ProductCategory,WeatherEvent,Monthly Nominal GDP Index (inMillion$),No.of Holidays
0,2015,1,0,11,17792.117,2
1,2015,1,1,11,17792.117,2
2,2015,1,2,11,17792.117,2
3,2015,2,0,11,17931.046,2
4,2015,2,1,11,17931.046,2

In [8]:
#df['Sales(In ThousandDollars)'].fillna(df.mode().iloc[0], inplace = True)
#df['Sales(In ThousandDollars)'].fillna(0, inplace=True)
df_X_target = df[['Sales(In ThousandDollars)']]
df_X_train = df.iloc[:,0:8]
df_X_train.drop(['Sales(In ThousandDollars)'],axis=1,inplace=True)
df_X_train.head()

,Year,Month,ProductCategory,WeatherEvent,Monthly Nominal GDP Index (inMillion$),No.of Holidays
0,2009,1,0,10,14421.753,2
1,2009,1,1,10,14421.753,2
2,2009,1,2,10,14421.753,2
3,2009,2,0,6,14389.200,2
4,2009,2,1,6,14389.200,2

In [9]:
walmart_data =pd.DataFrame(df)

In [10]:
test = walmart_data.loc[(walmart_data.Year > 2013) \
                                             & (walmart_data.Year <= 2014)]
train = walmart_data.loc[walmart_data.Year <= 2013]

In [11]:
X_target = train[['Sales(In ThousandDollars)']]
y_target = test[['Sales(In ThousandDollars)']]
X_train = train.iloc[:,0:8]
X_train.drop(['Sales(In ThousandDollars)'],axis=1,inplace=True)
X_train.head()

,Year,Month,ProductCategory,WeatherEvent,Monthly Nominal GDP Index (inMillion$),No.of Holidays
0,2009,1,0,10,14421.753,2
1,2009,1,1,10,14421.753,2
2,2009,1,2,10,14421.753,2
3,2009,2,0,6,14389.200,2
4,2009,2,1,6,14389.200,2

In [12]:
test.drop(['Sales(In ThousandDollars)'],axis=1,inplace=True)
test.head()

,Year,Month,ProductCategory,WeatherEvent,Monthly Nominal GDP Index (inMillion$),No.of Holidays
180,2014,1,0,10,16955.609,2
181,2014,1,1,10,16955.609,2
182,2014,1,2,10,16955.609,2
183,2014,2,0,11,17028.586,2
184,2014,2,1,11,17028.586,2

In [13]:
x_train = X_train
x_target = X_target
y_train = test

## XGBoost Regressor

In [14]:
model = XGBRegressor()
model.fit(x_train,x_target)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [15]:
y_pred = model.predict(y_train)
y_pred = [int(round(value)) for value in y_pred]
y_pred

[2458,
 556,
 1072,
 2921,
 624,
 1140,
 3715,
 721,
 1209,
 3869,
 788,
 1231,
 3869,
 788,
 1231,
 3531,
 713,
 1166,
 3489,
 685,
 1138,
 3573,
 696,
 1139,
 3611,
 696,
 1139,
 3601,
 762,
 1186,
 3816,
 777,
 1230,
 4848,
 1081,
 1544]

In [16]:
x_train = df_X_train
x_target = df_X_target
y_train = df_test

In [17]:
model = XGBRegressor()
model.fit(x_train,x_target)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [19]:
y_pred = model.predict(y_train)
y_pred = [int(round(value)) for value in y_pred]

In [20]:
submit = pd.DataFrame(y_target)
submit.to_csv('submission_results_xgbr5.csv')